---
import Default from "../layouts/Default.astro";

const email = "oykxf2@gmail.com";
const corsaceEmail = "contact@corsace.io";

const meta = {
    title: "Contact",
    ogTitle: "Contact",
    description: "Contact VINXIS",
    ogDescription: "Contact VINXIS",
    ogType: "website",
    ogUrl: "https://vinxis.moe",
    ogSiteName: "VINXIS",
    ogLocale: "en_US",
    ogImage: "https://vinxis.moe/metaImage.png",
    twitterCard: "summary_large_image",
    twitterTitle: "Contact",
    twitterDescription: "Contact VINXIS",
    twitterImage: "https://vinxis.moe/metaImage.png",
};
---

<Default meta={meta}>
    <div class="page contact-page">
        <h1 class="title">
            Contact
        </h1>
        <p class="contact-description">
            Questions, or just wanna hit me up?<br>Reach me with these 2 methods:
        </p>
        <ul class="contact-list">
            <li class="contact-item">
                Email: <a
                    class="contact-link"
                    href={`mailto:${email}`}
                >
                    {email}
                </a>
            </li>
            <li class="contact-item">
                Discord: <a
                    class="contact-link"
                    href="https://discord.com/users/352605625869402123"
                >
                    corsace.io
                </a>
            </li>
        </ul>
        <p class="contact-description">
            Corsace contact info:
        </p>
        <ul class="contact-list">
            <li class="contact-item">
                Corsace Email: <a
                    class="contact-link"
                    href={`mailto:${corsaceEmail}`}
                >
                    {corsaceEmail}
                </a>
            </li>
            <li class="contact-item">
                Corsace Discord: <a
                    class="contact-link"
                    href="https://discord.gg/Z6vEMsr"
                    target="_blank"
                >
                    https://discord.gg/Z6vEMsr
                </a>
            </li>
        </ul>
        <p class="contact-description">
            Resumes/CVs:
        </p>
        <ul class="contact-list">
            <li class="contact-item">
                <a
                    class="contact-link"
                    href="/resumes/dev.pdf"
                >
                    Resume (Software Development)
                </a>
            </li>
            <li class="contact-item">
                <a
                    class="contact-link"
                    href="/resumes/mate.pdf"
                >
                    Resume (Materials Engineering)
                </a>
            </li>
        </ul>
        <p class="contact-description">
            External links:
        </p>
        <ul class="contact-list">
            <li class="contact-item">
                <a
                    class="contact-link"
                    href="https://github.com/VINXIS"
                    target="_blank"
                >GitHub</a>
            </li>
            <li class="contact-item">
                <a
                    class="contact-link"
                    href="https://paypal.me/VINXIS"
                    target="_blank"
                >PayPal</a>
            </li>
            <li class="contact-item">
                <a
                    class="contact-link"
                    href="https://vinxis.bandcamp.com"
                    target="_blank"
                >Bandcamp</a>
            </li>
            <li class="contact-item">
                <a
                    class="contact-link"
                    href="https://soundcloud.com/vinxis"
                    target="_blank"
                >Soundcloud</a>
            </li>
            <li class="contact-item">
                <a
                    class="contact-link"
                    href="https://www.youtube.com/user/OYKXF"
                    target="_blank"
                >Youtube</a>
            </li>
            <li class="contact-item">
                <a
                    class="contact-link"
                    href="https://open.spotify.com/artist/2cNVX1qSKExpOojOx3INu8"
                    target="_blank"
                >Spotify</a>
            </li>
            <li class="contact-item">
                <a
                    class="contact-link"
                    href="https://itunes.apple.com/us/artist/vinxis/1342478754"
                    target="_blank"
                >Apple Music</a>
            </li>
        </ul>
    </div>
    <a slot="hidden" class="hidden" href="https://youtu.be/_twR_GdoVfk" style="top:initial; left:initial; right:200px; bottom:2rem; width:60vw;">skibidi toilet ended my 5 five year long relationship So to give a little background info, I love watching youtube shorts, I binge watch them. On average, I spend about 8 hours daily watching shorts, it's my guilty pleasure. No one knows about this, as I keep it a good secret. One day, when I was meant to be at school, I was watching some shorts. My mum came in and was shocked. So she didn't see what I was doing, I hid my phone under my pillow and told her to leave because I was having a wank. I got away with it, but the same day, I was around my GF's house, and we were watching a movie. I was watching shorts the whole time, and I was so sneaky, she didn't notice. She was trying to make advances on me and she put her hand on my thigh. I didn't think much of it and kept scrolling. She noticed that I was watching youtube shorts when I was watching ''skibidi toilet 58 (fanmade)'' and suddenly my phone's volume went up to the maximum out of nowhere (the volume button on my phone has been broken for like a month now.). She immediately took her hand off of my thigh and screamed ''ARE YOU WATCHING FUCKING SKIBIDI TOILET?!'' and, I'll spare you the details, but I'm currently sitting on her porch, bawling my fucking eyes out. I'm not sure if I'll ever recover from this, but atleast I have youtube shorts.</a>
</Default>

<style>
.contact-page {
    height: calc(100vh - 15rem);
    text-align: right;
}

.contact-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact-list {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 10px;
}

.contact-item {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.contact-link {
    text-decoration: none;
    cursor: pointer;
}

.contact-link:hover {
    text-decoration: underline;
}
</style>