---
import { Image } from "astro:assets";
import Default from "../layouts/Default.astro";
import { songs, type Service } from "../data/songs";
import youtubeIcon from "../images/discography/youtube.png";
import soundcloudIcon from "../images/discography/soundcloud.png";
import bandcampIcon from "../images/discography/bandcamp.png";
import spotifyIcon from "../images/discography/spotify.png";
import appleMusicIcon from "../images/discography/apple.png";
import type { ImageMetadata } from "astro";

const nameToIcon: Record<Service, ImageMetadata> = {
    "Youtube": youtubeIcon,
    "Soundcloud": soundcloudIcon,
    "Bandcamp": bandcampIcon,
    "Spotify": spotifyIcon,
    "Apple": appleMusicIcon,
};

const meta = {
    title: "Music",
    ogTitle: "Music",
    description: "VINXIS's music",
    ogDescription: "VINXIS's music",
    ogType: "website",
    ogUrl: "https://vinxis.moe",
    ogSiteName: "VINXIS",
    ogLocale: "en_US",
    ogImage: "https://vinxis.moe/metaImage.png",
    twitterCard: "summary_large_image",
    twitterTitle: "Music",
    twitterDescription: "VINXIS's music",
    twitterImage: "https://vinxis.moe/metaImage.png",
};
---

<Default meta={meta}>
    <div class="page">
        <div class="usage-page">
            <div class="usage-guidelines">
                <h1 class="title">
                    Music Usage
                </h1>
                <p>Use my music for any purpose not explicitly listed below.</p>
                <p>Credit with a link to me and my name where possible.</p>
            </div>
            <div class="usage-restrictions">
                <h2>Restrictions</h2>
                <ul>
                    <li><strong>Hateful Content:</strong> Do not use my music in content promoting any form of hateful rhetoric.</li>
                    <li><strong>Direct Re-uploads:</strong> Do not directly re-upload my music without any added content.<br>If someone wants my music as is, they can visit my channel or accounts.<br>Torrent/yt-dlp/e.t.c. my music if you want (though my music is primarily free, and Bandcamp lets you download high quality versions of the audio anyway).</li>
                </ul>
            </div>
            <input type="checkbox" id="usage-box-toggle" class="usage-box-toggle" />
            <label for="usage-box-toggle" class="see-more">
                See More
            </label>
            <div class="usage-box">
                <div>
                    If you wish to give money, do so via <a href="https://vinxis.bandcamp.com/" target="_blank">Bandcamp</a> or <a href="https://paypal.me/VINXIS" target="_blank">PayPal</a>.
                </div>
                <div>
                    Any music usage inquires not covered can be sent to me via any method listed in the <a href="/contact">Contact</a> page.
                </div>
                <div class="usage-notes">
                    <h2>Notes</h2>
                    <ul>
                        <li><strong>Claim Alert:</strong> Using "Sidetracked Day" in a YouTube video may result in an automatic claim by TuneCore. Unfortunately, they don't allow me to whitelist videos or anything. All other songs should be fine as they were distributed via DistroKid.</li>
                        <li><strong>Contractual Songs:</strong> While none exist currently, in the future, there may be songs contractually created with certain organizations that may limit their use. As they come, I will list them here, and denote them in the song's card below.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="discography-page">
            <h1 class="title">
                Discography
            </h1>
            <div class="grid-container">
                {songs.map(song => (
                    <div class="grid-item">
                        <div class="grid-item-content">
                            <h3>{song.title}</h3>
                            <div class="grid-item-content-row">
                                <p>{song.genre}</p>
                                <p>{song.year}</p>
                            </div>
                            <p>{song.length}</p>
                            <div class="external-links">
                                {song.links.map(link => (
                                    <a
                                        href={link.url}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                    >
                                        <Image
                                            src={nameToIcon[link.name]}
                                            alt={link.name}
                                            width="30"
                                            height="30"
                                            loading="lazy"
                                        />
                                    </a>
                                ))}
                            </div>
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </div>
</Default>

<style>
.usage-page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    z-index: -1;
}

.usage-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 33%;
    justify-content: center;
    height: fit-content;
    max-height: 0;
    margin-bottom: 0;
    overflow-y: clip;
}

.usage-page h2 {
    margin-bottom: 0.5rem;
}

.usage-page li {
    margin: 0.5rem;
}

.usage-box-toggle {
    display: none;
}

.see-more {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
    visibility: visible;
    padding: 5px;
    transition: all 0.25s ease, visibility 0s;
}

.see-more::before {
    content: "See Less";
    visibility: hidden;
    position: absolute;
    transition: visibility 0s;
}

.see-more:hover {
    color: var(--secondary)
}

.usage-box-toggle:checked ~ .usage-box {
    max-height: 1000px;
    margin-bottom: 2rem;
}

.usage-box-toggle:checked ~ .see-more {
    visibility: hidden;
}

.usage-box-toggle:checked ~ .see-more::before {
    visibility: visible;
}

.discography-page {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    position: relative;
}

.grid-item {
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.grid-item::before {
    content: "";
    background-image: linear-gradient(
            rgba(255, 98, 0, 0.2),
            rgba(255, 98, 0, 0.2)
        ),
        url("../images/discography/background.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.grid-item-content {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.grid-item-content-row {
    display: flex;
    justify-content: space-between;
}

.external-links img {
    margin-right: 5px;
    filter: brightness(0) invert(1);
}
</style>