---
import { ViewTransitions } from "astro:transitions";
import SpeedInsights from "@vercel/speed-insights/astro";
import NavigationBar from "../components/NavigationBar.astro";
import Flashlight from "../components/Flashlight.astro";
import "../styles/main.css";

interface MetaProps {
  title: string;
  description?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogType?: string;
  ogUrl?: string;
  ogSiteName?: string;
  ogLocale?: string;
  ogImage?: string;
  twitterCard?: string;
  twitterTitle?: string;
  twitterDescription?: string;
  twitterImage?: string;
}

const { meta } = Astro.props as { meta: MetaProps };
---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"><title>{meta.title}</title>
        {meta.description && <meta name="description" content={meta.description} />}
        {meta.ogTitle && <meta property="og:title" content={meta.ogTitle} />}
        {meta.ogDescription && <meta property="og:description" content={meta.ogDescription} />}
        {meta.ogType && <meta property="og:type" content={meta.ogType} />}
        {meta.ogUrl && <meta property="og:url" content={meta.ogUrl} />}
        {meta.ogSiteName && <meta property="og:site_name" content={meta.ogSiteName} />}
        {meta.ogLocale && <meta property="og:locale" content={meta.ogLocale} />}
        {meta.ogImage && <meta property="og:image" content={meta.ogImage} />}
        {meta.twitterCard && <meta name="twitter:card" content={meta.twitterCard} />}
        {meta.twitterTitle && <meta name="twitter:title" content={meta.twitterTitle} />}
        {meta.twitterDescription && <meta name="twitter:description" content={meta.twitterDescription} />}
        {meta.twitterImage && <meta name="twitter:image" content={meta.twitterImage} />}
        <ViewTransitions />
        <SpeedInsights />
    </head>
    <body>
        <NavigationBar />
        <main transition:animate="slide" class="fade-in">
            <slot />
        </main>
    </body>
    <noscript>
        <style>
            .hidden {
                user-select: initial;
            }

            .hidden:hover {
                color: var(--primary);
            }

            .hidden:hover * {
                color: var(--primary);
            }
        </style>
    </noscript>
    <Flashlight />
    <slot name="hidden" />
</html>

<style>
    .fade-in {
        animation: fadeIn ease 1s;
        -webkit-animation: fadeIn ease 1s;
        -moz-animation: fadeIn ease 1s;
        -o-animation: fadeIn ease 1s;
        -ms-animation: fadeIn ease 1s;
    }
</style>